<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Sidebar - The Good Book Log</title>
    <link rel="stylesheet" href="../public/assets/css/styles.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <h1>The Good Book Log - Admin</h1>
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li><a href="../api/admin_dashboard.php">Admin Dashboard</a></li>
                <li><a href="../api/admin_user_management.php">User Management</a></li>
                <li><a href="../api/admin_reading_plans.php">Manage Reading Plans</a></li>
                <li><a href="../api/admin_profile.php">Profile</a></li>
                <li><a href="#" onclick="confirmLogout()">Logout</a></li>
            </ul>
        </nav>
        <button id="darkModeToggle" class="dark-mode-toggle">Toggle Dark Mode</button>
    </div>
    <script>
        function confirmLogout() {
            // Show a confirmation dialog
            var result = confirm("Are you sure you want to logout?");
            if (result) {
                // If the user clicks "OK", redirect to logout.php
                window.location.href = '../api/logout.php';
            }
            // If the user clicks "Cancel", do nothing
        }
    </script>
    <script src="../public/assets/js/script.js"></script>
</body>
</html>
